.loginForm-header{
    margin: auto;
    font-weight: 500;
    font-size: 2rem;
}

.loginForm-content{
    margin: auto;
    padding: 2rem;
    width: 700px;
}

.loginForm-content__form{
    margin: auto;
}

.loginForm-content__form-input{
    width: 65%;
    height: 3rem;
}

.loginForm-content__form-label{
}

.loginForm-content__submit{
    margin: auto;
    display: block;
}

/* Social  */

.loginForm__split-social{
    height: 0px;
    padding: 25px ;
}

.loginForm__split-social__border{
    margin: auto;
    height: 0px;
    padding: 1rem;
    display: block;
    position: relative;
    border-top: black solid 1px;
}

.loginForm__split-social__text{
    border: black solid 1px;
    border-radius: 15px;
    padding: 0.5rem;
    font-weight: 500;
    background-color: white !important;
    position: relative;
    top: -32px;
    right: -47%;
}


.fb {
    background-color: #3B5998;
    color: white;
}

.github {
    background-color: #564c4c;
    color: white;
}

.google {
    background-color: #dd4b39;
    color: white;
}

/* Two-column layout */
.col {
    float: left;
    /*width: 50%;*/
    margin: auto;
    padding: 0 50px;
    margin-top: 20px;
}

.btn {
    width: 158%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
} 

.formLogin__social{
    display: flex;
    position: relative;
    /* right: -11%; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}


