<nz-layout>
  <nz-header class>SIGN UP</nz-header>
  <nz-layout>
    <nz-content>
      <div class="signUp_ct">
        <form class="signUp_ct__form">
          <div>
            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            <div class="signUp_ct__form__yourName">
              <input type="text" id="signUp_ct__form__inputyourname" class="form-control" />
              <label class="form-label" for="signUp_ct__form__inputyourname">Your Name</label>
            </div>
          </div>

          <div>
            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
            <div class="signUp_ct__form__yourMail">
              <input type="email" id="signUp_ct__form__inputyourEmail" class="form-control" />
              <label class="form-label" for="signUp_ct__form__inputyourEmail">Your Email</label>
            </div>
          </div>

          <div>
            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <input type="password" id="form3Example4c" class="form-control" />
              <label class="form-label" for="form3Example4c">Password</label>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <input type="password" id="form3Example4cd" class="form-control" />
              <label class="form-label" for="form3Example4cd">Repeat your password</label>
            </div>
          </div>

          <div class="form-check d-flex justify-content-center mb-5">
            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
            <label class="form-check-label" for="form2Example3">
              I agree all statements in <a href="#!">Terms of service</a>
            </label>
          </div>

          <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button type="button" class="btn btn-primary btn-lg">Register</button>
          </div>

        </form>

      </div>
    </nz-content>
  </nz-layout>
  <nz-footer>footer</nz-footer>
</nz-layout>
      