<div nz-row class="row">
    <div nz-col nzSpan="4"><app-bookelement></app-bookelement></div>
    <div nz-col nzSpan="4"><app-bookelement></app-bookelement></div>
    <div nz-col nzSpan="4"><app-bookelement></app-bookelement></div>
    <div nz-col nzSpan="4"><app-bookelement></app-bookelement></div>
    <div nz-col nzSpan="4"><app-bookelement></app-bookelement></div>
</div>

<div nz-row class="row">
    <div nz-col nzSpan="4"><app-bookelement></app-bookelement></div>
    <div nz-col nzSpan="4"><app-bookelement></app-bookelement></div>
    <div nz-col nzSpan="4"><app-bookelement></app-bookelement></div>
    <div nz-col nzSpan="4"><app-bookelement></app-bookelement></div>
    <div nz-col nzSpan="4"><app-bookelement></app-bookelement></div>
</div>

